<h1 class="grid h-10 w-32 place-content-center rounded-lg bg-[#7c3a00] text-white text-xs">PRODUCT ADD</h1>
<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">

    <form action="#" class="mt-8 grid grid-cols-6 gap-6" (ngSubmit)="Edit()" [formGroup]="sliderForm">
        <div class="col-span-6 sm:col-span-3">
            <label class="block text-sm font-medium text-gray-700">
                Name
            </label>

            <input type="text" formControlName="name"
                class="w-full mt-1 p-2 text-sm text-gray-700 border border-gray-200 rounded-lg outline-[#7c3a00]" />
        </div>
        <div class="col-span-6 sm:col-span-3">
            <label class="block text-sm font-medium text-gray-700">
                Ratio
            </label>

            <input type="text" formControlName="ratio"
                class="mt-1 p-2 text-sm text-gray-700 border border-gray-200 rounded-lg" />
        </div>
        <div class="col-span-6 sm:col-span-3">
            <label class="block text-sm font-medium text-gray-700">
                Image
            </label>

            <input type="text" formControlName="image"
                class="w-full mt-1 p-2 text-sm text-gray-700 border border-gray-200 rounded-lg outline-[#7c3a00]" />
        </div>
        <div class="col-span-6 sm:col-span-3">
            <label class="block text-sm font-medium text-gray-700">
                Description
            </label>

            <textarea type="text" formControlName="description"
                class="w-full mt-1 p-2 text-sm text-gray-700 border border-gray-200 rounded-lg outline-[#7c3a00]"></textarea>
        </div>
        <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
            <button class="grid h-10 w-32 place-content-center rounded-lg bg-[#7c3a00] text-white text-xs">
                Submit
            </button>
        </div>
    </form>
</div>