<div id="carouselDarkVariant" class="carousel slide carousel-fade carousel-dark" data-mdb-ride="carousel">
    <!-- Inner -->
    <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
            <img src="https://res.cloudinary.com/dwzh9i6xf/image/upload/v1685869033/Duan_Angular/image/slider-2-1920x695_cb7ixp.png"
                class="d-block w-100" alt="Motorbike Smoke" />
            <div class="carousel-caption d-none d-md-block">
                <h5>100%</h5>
                <h1>Fresh & Testy</h1>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                <a href="#">SHOP NOW</a>
            </div>
        </div>
        <!-- Single item -->
        <div class="carousel-item active">
            <img src="https://res.cloudinary.com/dwzh9i6xf/image/upload/v1685868903/Duan_Angular/image/banner2_j2pmwt.png"
                class="d-block w-100" alt="Mountaintop" />
            <div class="carousel-caption d-none d-md-block">
                <h5>100%</h5>
                <h1>Coffe & Culture</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#">SHOP NOW</a>
            </div>
        </div>
    </div>
    <!-- Inner -->

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselDarkVariant" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselDarkVariant" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="category">
    <h1>TOP CATEGORIES</h1>
    <div class="category-elem">
        <div class="category-elem-item">
            <img src="https://res.cloudinary.com/dwzh9i6xf/image/upload/v1685868901/Duan_Angular/image/cate1_nfcmo7.jpg"
                alt="">
            <a href="#" class="category-elem-item-title">MACCHITO CREAM</a>
        </div>
        <div class="category-elem-item">
            <img src="https://res.cloudinary.com/dwzh9i6xf/image/upload/v1685868901/Duan_Angular/image/cate2_wy5uqg.jpg"
                alt="">
            <a href="#" class="category-elem-item-title">MACCHITO CREAM</a>
        </div>
        <div class="category-elem-item">
            <img src="https://res.cloudinary.com/dwzh9i6xf/image/upload/v1685868901/Duan_Angular/image/cate3_hk69ed.jpg"
                alt="">
            <a href="#" class="category-elem-item-title">MACCHITO CREAM</a>
        </div>
        <div class="category-elem-item">
            <img src="https://res.cloudinary.com/dwzh9i6xf/image/upload/v1685868902/Duan_Angular/image/cate4_axe2iz.jpg"
                alt="">
            <a href="#" class="category-elem-item-title">MACCHITO CREAM</a>
        </div>
    </div>
</div>
<div class="product">
    <h1>LIST PRODUCTS</h1>
    <!-- <ul class="product-cate">
        <li><a href="#">Featured</a></li>
        <li><a href="#">Best Sellers</a></li>
        <li><a href="#">New Arrivals</a></li>
    </ul> -->
    <div class="product-elem">
        <div class="product-elem-item">
            <div class="product-elem-item-img">
                <a href="#">
                    <img src="https://res.cloudinary.com/dwzh9i6xf/image/upload/v1685868902/Duan_Angular/image/product1_i5bcts.jpg"
                        alt="">
                </a>
            </div>
            <div class="product-elem-item-content">
                <a href="#">HTC Touch HD</a>
                <p><span>$</span>122.00</p>
                <button>ADD TO CART</button>
            </div>
        </div>
        <div class="product-elem-item">
            <div class="product-elem-item-img">
                <a href="#">
                    <img src="https://res.cloudinary.com/dwzh9i6xf/image/upload/v1685868902/Duan_Angular/image/product1_i5bcts.jpg"
                        alt="">
                </a>
            </div>
            <div class="product-elem-item-content">
                <a href="#">HTC Touch HD</a>
                <p><span>$</span>122.00</p>
                <button>ADD TO CART</button>
            </div>
        </div>
        <div class="product-elem-item">
            <div class="product-elem-item-img">
                <a href="#">
                    <img src="https://res.cloudinary.com/dwzh9i6xf/image/upload/v1685868902/Duan_Angular/image/product1_i5bcts.jpg"
                        alt="">
                </a>
            </div>
            <div class="product-elem-item-content">
                <a href="#">HTC Touch HD</a>
                <p><span>$</span>122.00</p>
                <button>ADD TO CART</button>
            </div>
        </div>
    </div>

</div>
<div class="service">
    <div class="service-elem">
        <div class="service-elem-item" style="border-right: none;">
            <div class="service-elem-item-img">
                <img src="https://res.cloudinary.com/dwzh9i6xf/image/upload/v1685868903/Duan_Angular/image/services-1-35x35_hofwce.png"
                    alt="">
            </div>
            <h4>Return Policy</h4>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="service-elem-item" style="border-right: none;">
            <div class="service-elem-item-img">
                <img src="https://res.cloudinary.com/dwzh9i6xf/image/upload/v1685868902/Duan_Angular/image/services-2-35x35_qoizte.png"
                    alt="">
            </div>
            <h4>Return Policy</h4>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="service-elem-item" style="border-right: none;">
            <div class="service-elem-item-img">
                <img src="https://res.cloudinary.com/dwzh9i6xf/image/upload/v1685868902/Duan_Angular/image/services-3-35x35_dfr8q5.png"
                    alt="">
            </div>
            <h4>Return Policy</h4>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="service-elem-item">
            <div class="service-elem-item-img">
                <img src="https://res.cloudinary.com/dwzh9i6xf/image/upload/v1685868902/Duan_Angular/image/services-4-35x35_rrmpxa.png"
                    alt="">
            </div>
            <h4>Return Policy</h4>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
    </div>
</div>
<div class="sale">
    <div class="sale-elem">
        <div class="sale-elem-item">
            <img src="https://res.cloudinary.com/dwzh9i6xf/image/upload/v1685868901/Duan_Angular/image/banner-sale1_kqanil.jpg"
                alt="">
            <div class="sale-elem-content" style="right: 20px; top: 50%; transform: translateY(-50%); ">
                <h4>WEEKEND OFFER ON</h4>
                <h3>The Coffe Brew</h3>
                <a href="#">SHOP NOW</a>
            </div>
        </div>
        <div class="sale-elem-item">
            <img src="https://res.cloudinary.com/dwzh9i6xf/image/upload/v1685868901/Duan_Angular/image/banner-sale2_ztsioe.jpg"
                alt="">
            <div class="sale-elem-content"
                style="left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center;">
                <h4 style="color: #ffffff !important;">BACK TO COFFEE WORLD</h4>
                <h3 style="color: #ffffff !important;">Up To 25% Off</h3>
                <a href="#">SHOP NOW</a>
            </div>
        </div>
        <div class="sale-elem-item">
            <img src="https://res.cloudinary.com/dwzh9i6xf/image/upload/v1685868902/Duan_Angular/image/banner-sale3_scwof4.jpg"
                alt="">
            <div class="sale-elem-content" style="left: 20px; top: 50%; transform: translateY(-50%); ">
                <h4>30% OFF ON COFFEE</h4>
                <h3>The Coffe Wild</h3>
                <a href="#">SHOP NOW</a>
            </div>
        </div>
    </div>
</div>
<!-- <div class="special">
    <h1>SPECIAL PRODUCT</h1>
    <div class="special-elem">
        <div class="special-elem-item">
            <div class="special-elem-item-img">
                <a href="#">
                    <img src="https://res.cloudinary.com/dwzh9i6xf/image/upload/v1685868902/Duan_Angular/image/product1_i5bcts.jpg"
                        alt="">
                </a>
            </div>
            <div class="special-elem-item-content">
                <a href="#">HTC Touch HD</a>
                <p><span>$</span>122.00</p>
                <button>ADD TO CART</button>
            </div>
        </div>
    </div>
</div> -->
<div class="blog">
    <h1>LATEST BLOG</h1>
    <div class="blog-elem">
        <div class="blog-elem-item">
            <div class="blog-elem-item-image">
                <img src="https://res.cloudinary.com/dwzh9i6xf/image/upload/v1685868901/Duan_Angular/image/blog3_tmtf0s.jpg"
                    alt="">
                <div class="blog-date">
                    <span class="date-month">23 October</span>
                    <span class="day-year">2023</span>
                </div>
            </div>
            <div class="blog-elem-item-content">
                <a href="" class="blog-elem-item-content-title">Lorem ipsum dolor sit
                    elit.</a>
                <a class="blog-elem-item-content-comment">4 Comments</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio tenetur aliquid cupiditate
                    quia ut, doloribus odio incidunt ratione pariatur autem! </p>
            </div>
        </div>
        <div class="blog-elem-item">
            <div class="blog-elem-item-image">
                <img src="https://res.cloudinary.com/dwzh9i6xf/image/upload/v1685868901/Duan_Angular/image/blog3_tmtf0s.jpg"
                    alt="">
                <div class="blog-date">
                    <span class="date-month">23 October</span>
                    <span class="day-year">2023</span>
                </div>
            </div>
            <div class="blog-elem-item-content">
                <a href="" class="blog-elem-item-content-title">Lorem ipsum dolor sit
                    elit.</a>
                <a class="blog-elem-item-content-comment">4 Comments</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio tenetur aliquid cupiditate
                    quia ut, doloribus odio incidunt ratione pariatur autem! </p>
            </div>
        </div>
        <div class="blog-elem-item">
            <div class="blog-elem-item-image">
                <img src="https://res.cloudinary.com/dwzh9i6xf/image/upload/v1685868901/Duan_Angular/image/blog3_tmtf0s.jpg"
                    alt="">
                <div class="blog-date">
                    <span class="date-month">23 October</span>
                    <span class="day-year">2023</span>
                </div>
            </div>
            <div class="blog-elem-item-content">
                <a href="" class="blog-elem-item-content-title">Lorem ipsum dolor sit
                    elit.</a>
                <a class="blog-elem-item-content-comment">4 Comments</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio tenetur aliquid cupiditate
                    quia ut, doloribus odio incidunt ratione pariatur autem! </p>
            </div>
        </div>
    </div>
</div>
<button onclick="topFunction()" id="myBtn" title="Go to top">
    <i class="fas fa-arrow-up"></i>
</button>