<!--
  Heads up! 👋

  Plugins:
    - @tailwindcss/forms
-->
<h1 class="grid h-10 w-32 place-content-center rounded-lg bg-gray-100 text-xs text-gray-600">ADD CATEGORY</h1>
<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">

    <form  action="" (ngSubmit)="AddCategory()" class="mx-auto mb-0 mt-8 max-w-xl space-y-4" [formGroup]="categoryForm">
        <div>
            <label for="name" class="sr-only">Name</label>
            <div class="relative">
                <input type="name" class="w-full rounded-lg border-gray-200 p-3 pe-12 text-sm shadow-sm"
                    placeholder="Enter name" formControlName="name" required />
            </div>
        </div>
        <div>
            <label for="image" class="sr-only">Image</label>
            <div class="relative">
                <input type="text" class="w-full rounded-lg border-gray-200 p-3 pe-12 text-sm shadow-sm"
                    placeholder="Enter image" formControlName="image" required/>
            </div>
        </div>

        <div class="flex items-center justify-between">
            <button type="submit" class="inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white"
                [disabled]="!categoryForm.valid">
                Submit
            </button>
        </div>
    </form>
</div>
