<div class="">
    <div class="">
        <div class="header-top">
            <div class="header-top-elem">
                <div class="header-top-elem-item">
                    <p>Welcome to our online store!</p>
                </div>
            </div>
        </div>
        <div class="header-nav">
            <div class="header-nav-top-elem">
                <div class="header-nav-top-elem-search">
                    <form action="">
                        <input type="text" placeholder="search...">
                        <button><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                            </svg>
                        </button>
                    </form>
                </div>
                <div class="header-nav-top-elem-logo">
                    <a routerLink="#">
                        <img src="image/Logo.png" alt="">
                        <!-- <h2 style="color: #111111">CAFE CONCAK</h2> -->
                    </a>
                </div>
                <div (click)="reload()" class="header-nav-top-elem-cart">
                    <a routerLink="cart" class="header-nav-top-elem-cart-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                        </svg>
                    </a>
                    <div class="header-nav-top-elem-cart-content">
                        <p>Shopping Cart</p>
                        <p>{{totalItemNumber}} item</p>
                    </div>
                </div>
            </div>
            <div class="header-nav-bottom-elem">
                <div class="header-nav-bottom-elem-left">
                    <ul class="header-nav-bottom-elem-left-big">
                        <li><a routerLink="">HOME</a></li>
                        <li class="header-nav-bottom-elem-left-big-cate">
                            <a routerLink="#">CATEGORY</a>
                            <ul class="header-nav-bottom-elem-left-small" *ngIf="categoryData && categoryData.length">
                                <li *ngFor="let cate of categoryData">
                                    <a routerLink="category/{{cate._id}}">{{cate.name}}</a>
                                </li>
                            </ul>
                        </li>
                        <li><a routerLink="#">ESPRESSO</a></li>
                        <li><a routerLink="#">CAMPUCHINO</a></li>
                        <li><a routerLink="#">BLOG</a></li>
                    </ul>
                </div>
                <div class="header-nav-bottom-elem-right">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>

                    <div class="header-nav-bottom-elem-right-auth" *ngIf="!isLoggedIn">
                        <a routerLink="signin">SIGN IN /</a>
                        <a routerLink="signup">SIGN UP</a>
                    </div>
                    <div class="header-nav-bottom-elem-right-user" *ngIf="isLoggedIn">
                        <li class="header-nav-bottom-elem-right-user-menu">ACOUNT
                            <ul class="header-nav-bottom-elem-right-user-main-menu">
                                <li><a routerLink="">MY ACOUNT</a></li>
                                <li><a routerLink="cart">MY ORDER</a></li>
                                <li><a routerLink="admin">ADMIN PAGE</a></li>
                                <li><a routerLink="" (click)="logOut()">LOG OUT</a></li>
                            </ul>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <router-outlet />
    </div>
    <footer>
        <div class="footer-top">
            <div class="footer-top-item">
                <h5>CONTACT INFO</h5>
                <ul>
                    <li>Address: 71 Pennington Lane Vernon Rockville, CT 06066.</li>
                    <li>Phone: +84 888 654 355</li>
                    <li>E-mail: Theme@Demo.Com</li>
                </ul>
            </div>
            <div class="footer-top-item">
                <h5>INFORMATION</h5>
                <ul>
                    <li><a routerLink="#">Delivery</a></li>
                    <li><a routerLink="#">Legal Notice</a></li>
                    <li><a routerLink="#">About Us</a></li>
                    <li><a routerLink="#">Best Sales</a></li>
                    <li><a routerLink="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-top-item">
                <h5>MY ACCOUNT</h5>
                <ul>
                    <li><a routerLink="#">Personal Info</a></li>
                    <li><a routerLink="#">Orders</a></li>
                    <li><a routerLink="#">Credit Slips</a></li>
                    <li><a routerLink="#">Addresses</a></li>
                    <li><a routerLink="#">My Wishlists</a></li>
                </ul>
            </div>
            <div class="footer-top-item">
                <h5>CONTACT INFO</h5>
                <p>Subscribe to our newsletters now and stay up to date with new collections and exclusive offers.</p>
                <input type="text" placeholder="Enter e-mail here...">
                <button>Subscribe</button>
            </div>
        </div>
        <div class="footer-bottom">
            <a routerLink="#">
                © 2023 - Ecommerce software by PrestaShop™
            </a>
            <img src="https://res.cloudinary.com/dwzh9i6xf/image/upload/v1685989670/Duan_Angular/image/payment_cvbkzb.png"
                alt="">
        </div>
    </footer>

</div>