<div class="header-top">
    <div class="header-top-elem">
        <div class="header-top-elem-item">
            <p>Welcome to our online store!</p>
        </div>
    </div>
</div>
<div class="header-nav">
    <div class="header-nav-top-elem">
        <div class="header-nav-top-elem-search">
            <form action="">
                <input type="text" placeholder="search...">
                <button><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="header-nav-top-elem-logo">
            <a href="#">
                <!-- <img src="image/Logo.png" alt=""> -->
                <h2 style="color: #111111">CAFE CONCAK</h2>
            </a>
        </div>
        <div class="header-nav-top-elem-cart">
            <i class="fas fa-shopping-cart header-nav-top-elem-cart-icon"></i>
            <div class="header-nav-top-elem-cart-content">
                <p>Shopping Cart</p>
                <p>0 item</p>
            </div>
        </div>
    </div>
    <div class="header-nav-bottom-elem">
        <div class="header-nav-bottom-elem-left">
            <ul class="header-nav-bottom-elem-left-big">
                <li><a href="#">HOME</a></li>
                <li class="header-nav-bottom-elem-left-big-cate"><a href="#">CATEGORY</a>
                    <ul class="header-nav-bottom-elem-left-small">
                        <li><a href="#">Campuchino</a></li>
                        <li><a href="#">Campuchino</a></li>
                        <li><a href="#">Campuchino</a></li>
                    </ul>
                </li>
                <li><a href="#">ESPRESSO</a></li>
                <li><a href="#">CAMPUCHINO</a></li>
                <li><a href="#">BLOG</a></li>

            </ul>
        </div>
        <div class=" header-nav-bottom-elem-right">
            <i class="fas fa-user"></i>
            <div class="header-nav-bottom-elem-right-user">
                <a href="#">SIGN IN /</a>
                <a href="#">SIGN UP</a>
            </div>
            <!-- <i></i>
            <div class="header-nav-bottom-elem-right-user">
                
            </div> -->
        </div>
    </div>
</div>