<div class="header-auth">
    <div class="header-auth-elem">
        <div class="header-auth-elem-box">
            <a href="" class="header-auth-elem-box-home">
                <i class="fa-solid fa-house"></i></a>
            <span class="header-auth-elem-box-auth">Auth</span>
            <a href="">Sign In</a>
        </div>
    </div>
</div>
<div class="header-auth-form">
    <div class="header-auth-form-elem">
        <form action="" [formGroup]="formSignin" (ngSubmit)="onSubmit()">
            <h1>SIGN IN</h1><br>
            <label for="">E-Mail Address</label><br>
            <input type="text" formControlName="email"><br>
            <label for="">Password</label><br>
            <input type="text" formControlName="password"><br>
            <button type="submit">SUBMIT</button><br>
        </form>
    </div>
</div>